<!doctype html>
<html>
  <head>
    <title>Telequest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body style="background-color:#14b3d9">
    <div class="container">
    <h1 style="font-size:100px" align="center"> Telequest </h1>

    <h2 align="center" style="color:#8AD9EC; font-size:40px"> Number of Television Shows You Watch: </h2>
    <form action="/shows" method="POST" align="center">
      <input style="color: #14b3d9; width: 200px; height: 30px" type="number" name="show_quantity">
      <input class="btn btn-primary" type="submit">
    </form>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
